/* materialize.min.css */

#cities{
    float:left;
}
#interests{
    float:left;
}

#interestDiv, #cityDiv, #dateDiv{
  /* to get this element to fade out when the user clicks Continue
  we need to set the value of the property we're going to change
  in loadViews.js. in this case opacity */
  opacity: 0;
  margin-top: 50px;
}

.interestTitle {
    text-align: center;
}

.container {
    align-items: center;
    width: 90%;
}

#results {
    text-align: center;
}

#map {
    height: 85vh;
    width: 100%;
}

.map-zoom-out-button{
  position: fixed;
  top: 50%;
  left: 200px;
}

.datewindow{
  margin: 10px;
  text-transform: capitalize;
}

.vacaDesc{
  font-size: 15px;
}
#main-container{
  height: 80vh;
  width: 100vw;
}
#loader {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #f9f9f9;
  border-radius: 4px;
  opacity: .7;
}

#vacationSummary{

}
.cityName{
  padding: 20px;
}
.custom-input-container{
  background-color: #f9f9f9;
  margin-top: 50px;
  border-radius: 4px;
  transition: all .3s;
}

.custom-hidden{
  display: none;
}

.margin30{
  margin: 30px;
}
.custom-width-85{
  max-width: 85%;
  margin: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    min-height: 90vh;
    flex: 1 0 auto;
  }
